@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=La+Belle+Aurore&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  transition: all 0.5s ease-in-out;
}

body {
    font-family: 'Inter', sans-serif;
  overflow: hidden !important;
}

.context {
  width: 100%;
  position: absolute;
  top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

.wallpaper {
  margin: 1.2rem 0rem;
  width: 350px;
}
.wall-details {
  width: 100%;
  height: 485px;
  background-image: url(./pexels-ron-lach-8386668.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.wall-title {
  width: fit-content;
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
}

.wall-title span {
  color: #4e54c8;
  font-weight: 600;
}

.wall-name {
  font-size: 1.05rem;
  margin-top: 0.3rem;
}

.wall-icon {
  margin-left: 0.5rem;
  padding: 0.2rem 0rem 0rem 0.45rem;
  width: 32px;
  height: 30px;
  border-radius: 50%;
  background-color: #4e54c8;
}

.wall-icon svg {
  font-size: 1.2rem;
  color: #ffffff;
}
.motto {
  justify-content: center;
  text-align: center;
  /* max-width: 60%; */
  line-height: 1rem;
  padding: 0rem 0rem 0rem 0rem;
  font-style: italic;
}

.motto-details {
  font-size: 0.88rem;
  font-weight: 600;
}

.signup {
  width: 350px;
}

.signup-details {
  width: 100%;
  height: 405px;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
}

.signature-details {
  text-align: right;
  font-size: 0.95rem;
  color: #4e54c8;
  font-style: oblique;
}

.fill-details {
  display: flex;
  margin: 1.5rem 0rem;
  justify-content: center;
  align-items: center;
}
.fill-in {
  font-size: 0.89rem;
}

.fill-icon {
  margin-left: 0.2rem;
}
.fill-icon svg {
  font-size: 1.2rem;
  color: #000;
}
.customer-details {
  margin: 1.5rem 0rem;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.form-details {
  display: flex;
}

.customer-details2 {
  margin-left: 0.8rem;
}
.entry {
  display: flex;
  margin: 1rem 0rem 0rem 1rem;
  flex-direction: column;
}

.form-input {
  margin-top: 0.5rem;
  width: 90%;
}

.entry input {
  background: transparent;
  border-bottom: 1px solid #000;
  padding-bottom: 0.15rem;
}

.btn-submit {
  margin: 1rem 0rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-submit button {
  cursor: pointer;
  display: flex;
  padding: 1rem;
  height: 10px;
  border-radius: 30px;
  background: #6036d1;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  color: #f9faf9;
}

.remainder {
  margin: 2rem 0rem 0rem 0rem;
}

.remainder a {
  color: #4e54c8;
}

.remainder-details {
  font-size: 0.74rem;
}


@media screen and (max-width: 1044px ){

    .wallpaper{
        width: 0%;
        }

    .wall-details{
       display: none !important;
    }

    .signup{
        margin-top: 1rem;
        width: 540px;
    }
    .signup-details{
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 400px;
        height: 480px;
        background-color: rgb(0, 0, 0,0.7);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        margin: 0 auto;
        }

        .fill-details{
            color: #fff;
        }

        .fill-icon svg{
            color: #fff;
        }
        .customer-details{
          color: #ffffff;
        }

        
.entry input{
    border-color: #fff;
    color: #fff;
}

.btn-submit {
    margin-top: 3rem;
}

.remainder{
    color: #fff;
    margin-top: 3rem;
}
}
 

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
